body {
	background-color: #3333aa;
	background: radial-gradient(ellipse at center, #3333aa 0%, #000066 100%);
	margin: 0;
	transform-origin: top left;
}

header {
	display: flex;
	flex-wrap: wrap;
	padding: 0.5em 1em;
}

h1 {
	display: inline-block;
	font-size: 2rem;
	color: goldenrod;
	font-family: Arial, Helvetica, sans-serif;
	flex: 1;
}

#grille {
	width: 800px;
	height: 800px;
	margin: 50px auto;
	background-color: rgba(255, 255, 255, 0.1);
	position: relative;
}

#commandes {
	flex: 0 0 auto;
}

#commandes input {
	font-size: 1.4rem;
	width: 15rem;
	height: 3em;
	line-height: 1em;
	white-space: normal;
	padding: 0.5em;
	background: transparent;
	color: white;
	border: 2px solid goldenrod;
	vertical-align: top;
}

#message {
	font: bold 16px Arial, sans-serif;
	text-align: center;
	width: 400px;
	margin: 0 auto;
	padding: 5px;
	display: block;
	background: #04a;
	color: #fff;
	text-shadow: 0 0 20px #fff, 0 0 12px #fff;
	border-radius: 2.5em;
	transition: all 1s ease-in;
	position: relative;
	top: -15px;
}

.grille {
	position: absolute;
	width: 110px;
	height: 110px;
	border: 0;
	z-index: 1;
}

.trou {
	position: absolute;
	width: 110px;
	height: 770px;
	border: 0;
	z-index: 2;
}

.jeton {
	position: absolute;
	width: 90px;
	height: 90px;
	border: 0;
	margin: 10px;
}

@media (max-width: 1279px) {
	#grille {
		margin: 50px 185px;
	}
}